* { box-sizing: border-box; }
html {
	height: 600px;
}
body {
	width:350px;
}
main.mdl-layout__content {
    margin-top: 58px;
}
button {
	width: 100%;
}
.mdl-switch.is-focused .mdl-switch__focus-helper {
	display: none;
}
small {
    color: rgba(0,0,0,.54);
    text-align: center;
    font-weight: 400;
    text-transform: uppercase;
    margin: 0 auto;
    margin-top: 5px;
    display: block;
    font-size: 9px;
}
small a {
	color:#00BCD4;
}
section {
	padding:20px;
}
.mdl-textfield {
	width:initial;
	padding:0px;
}
.mdl-switch.is-upgraded {
    padding-left: 34px;
}
.mdl-textfield__label {
    top: 7px;
}
#maxSeedsWithoutTrust {
	max-width: 60px;
	text-align: right;
}
h2 {
	font-size: 16px;
	color: rgba(0,0,0,.54);
	font-weight: 500;
	text-transform: uppercase;
	margin: 0px;
	padding: 0px;
}
header {
    z-index: 999;
	position: fixed;
	display: flex;
	width: 100%;
	margin: 0;
	padding: 20px 20px;
	border: none;
	max-height: 1000px;
	background-color: #3f51b5;
	color: #fff;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
}
header * {
	vertical-align: middle;
}
header i {
    width:40px;
}
header #close {
	margin-left: auto;
	width: 25px;
	cursor: default;
}
::-webkit-scrollbar { 
    display: none; 
}
.mdl-list {
    padding: 0px;
    margin: 0px;
}